@model Treehouse.FitnessFrog.Models.Entry
@{
    ViewBag.Title = "Add Entry";

}

<h2>@ViewBag.Title</h2>

<!-- Adding true displays only global messages -->
@*@Html.ValidationSummary(true)*@

@Html.Partial("_EntryForm")

